@tailwind base;
@tailwind components;
@tailwind utilities;

/* Autofill background color override for Web */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: #0F172A !important;
}
